<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.dijkst.cocoaTouchSubspecStaticFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base_Options</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.dijkst.packageBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>快速创建通用的静态 Framework.</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>TargetOnly</key>
	<true/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasDemoApplication</string>
			<key>Name</key>
			<string>Include Demo Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.dijkst.cocoaTouchApplicationBase</string>
							<key>Name</key>
							<string>___VARIABLE_productName___Demo</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
