<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.dijkst.cocoaTouchStaticFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base_Options</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>快速创建通用的静态 Framework.</string>
	<key>ProjectOnly</key>
	<true/>
	<key>SortOrder</key>
	<integer>-10</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>99</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasDemoApplication</string>
			<key>Name</key>
			<string>Include Demo Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>useSubspec</string>
			<key>Name</key>
			<string>Use different subspec/target/framework name</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.packageBase</string>
								<key>Name</key>
								<string>___VARIABLE_productName___</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUnitTests</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
								<key>Name</key>
								<string>___VARIABLE_productName___Tests</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>hasDemoApplication</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.cocoaTouchApplicationBase</string>
								<key>Name</key>
								<string>___VARIABLE_productName___Demo</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.cocoaPods</string>
								<key>Name</key>
								<string>Pods</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.packageBase</string>
								<key>Name</key>
								<string>___VARIABLE_subspecName___Pods</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.packageBase</string>
								<key>Name</key>
								<string>___VARIABLE_subspecName___</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>hasUnitTests</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
								<key>Name</key>
								<string>___VARIABLE_subspecName___Tests</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>hasDemoApplication</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.dijkst.cocoaTouchApplicationBase</string>
								<key>Name</key>
								<string>___VARIABLE_subspecName___Demo</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>subspecName</string>
			<key>Name</key>
			<string>Subspec Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>The subspec name in podspec.</string>
			<key>Type</key>
			<string>text</string>
			<key>SortOrder</key>
			<integer>102</integer>
			<key>RequiredOptions</key>
			<dict>
				<key>useSubspec</key>
				<string>true</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
