<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.dijkst.cocoaPods</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base_DefinitionsLanguage</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>快速创建通用的静态 Framework.</string>
	<key>SortOrder</key>
	<integer>-100</integer>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../PodEnv</key>
		<dict>
			<key>Path</key>
			<string>PodEnv</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___VARIABLE_productName___.podspec</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_productName___.podspec</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../___VARIABLE_productName___.podspec</string>
		<string>../Podfile</string>
		<string>../PodEnv</string>
	</array>
</dict>
</plist>
